<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.inventmanege">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.InventManege">
        <activity android:name=".StorageSet"></activity>
        <activity android:name=".CarSet" />
        <activity android:name=".WorkersSet" />
        <activity android:name=".DecorationSet" />
        <activity android:name=".RequisiteSet" />
        <activity android:name=".CostumeSet" />
        <activity android:name=".MyAcc" />
        <activity android:name=".RespInv" />
        <activity android:name=".OptionsMain" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>